* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
}

.site-header {
	width: 100%;
	height: 100vh;
	/*background: linear-gradient(57deg, #00c6a7, #1e4d92);*/
	background: linear-gradient(57deg, #ffaa71, #ff7171);
	clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
}

nav {
	 width: 100%;
	 color: white; 
	 display: flex;
}

.logo {
	width: 50%;
	height: 100px;
}

.logo h1{ line-height: 100px; padding-left: 50px; }

.menu {
	width: 50%;
	height: 100px;
}

.menu ul {
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.menu ul li {
	list-style: none;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

.menu ul li a{
	text-decoration: none;
	color: white;
}

section {
	display: flex;
}

.left-side {
	width: 45%;
	height: auto;
	overflow: hidden;
	margin-top: 20px;
}

.left-side img {
	width: 600px;
	height: 500px;
}

.right-side {
	width: 55%;
	height: 300px;
	color: white;
	text-align: center;
	margin-top: 80px;
	padding: 40px;
}

.right-side h1 {
	font-size: 50px;
	font-weight: 900;
	text-transform: uppercase;
}

.right-side p {
	font-size: 1.1rem;
	padding: 30px 0px;
}

.right-side button {
	font-size: 17px;
	font-weight: bold;
	color :white;
	text-transform: uppercase;
	/*background: linear-gradient(57deg,#00c6a7,#1e4d92);*/
		background: linear-gradient(57deg, #e89f71, #d57149);
	border-radius: 4px;
	padding: 20px 35px;
}

.right-side button:hover {
	/*background: linear-gradient(57deg,  #1e4d92,#00c6a7);*/
		background: linear-gradient(57deg,#d57149,#e89f71);
}